html {
    background-color:#f5f5f5;
    height: 100%;
}
body{
    background-color:transparent;
    height: 100%;
}

#wrapper {
    padding-left: 40px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 190px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 190px;
    width: 40px;
    height: 100%;
    margin-left: -190px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #6495ed;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 190px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    /*position: absolute;
    margin-right: -250px;*/
    position:relative;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 190px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 26px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #dde7fb;

}
.nav-pills>li>a {
    border-radius: initial;
    padding:0;
}
.sidebar-nav li a i {
    text-indent:-30px;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav li a.active{
    color:#fff;
}

.sidebar-nav > .sidebar-title {
    padding-top:15px;
    text-transform:uppercase;
    color:#b4ccf6;
    font-weight:700;
    font-size: 12px;
    text-indent: 10px;
    visibility:hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}
#wrapper.toggled .sidebar-nav  > .sidebar-title {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;

}
.sidebar-nav > .sidebar-brand {
    text-indent: 40px;
    height: 65px;
    font-size: 20px;
    line-height: 66px;
    background-color: #6f9ced;
}

.sidebar-nav > .sidebar-brand a {
    color: #fafafa;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle::selection {background: #6f9ced; }

#menu-toggle {
    margin: 0;
    padding: 0;
    width:20px;
    position:absolute;
    top:10px;
    left:10px;
    height:45px;
    text-indent:0;
    line-height:45px;
    z-index:99;
}
#menu-toggle i{
    text-indent:0;
    line-height:45px;
}

/* navbar right */

.navbar-right {
    margin-right: 30px;
    margin-top: 16px;
    float:right;
}
.navbar-right li{
    padding: 5px 10px;
    color:#bbb;
    display: inline-block;
}
.navbar-right li a{
    padding: 0;
    color:#6495ED;
    display: inline;
    background: transparent;
}
.navbar-right li a:hover{
    background: transparent;
    color: #3467ed;
}


/* header */

header {
    background-color:#fff;
    height:65px;
}

/* content */

section.container-fluid{
    padding:0;
}

figure.banner {
    position:relative;
    overflow:hidden;
    box-shadow: 0 0 1px #bbb;
    border-bottom: solid 2px #fff;
    background-color:#bbb;
    height:120px;

}
figure.banner img {
    min-width: 100%;
}
figure.banner figcaption{
    position:absolute;
    bottom:20px;
    left:20px;
    font-size:30px;
    color:#fff;
}

section article.row {
    padding:20px;
    margin:0;
}
section > article.row  {
    padding:20px 5px;
    margin:0;
}


.form-horizontal {
    margin-top:30px;
}
.has-error input{
    color:#a94442;
}
aside #daneout{
    margin-top:30px;
}



/*full width*/

#wrapper-fullwidth{
    background-color: #6495ED;
    height: 100%;
}

.login-form {
    padding: 20px 40px 30px;
    background-color: #bedcfd;
    color: #060c42;
    width:400px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.login-form label{
    margin: 10px 10px 10px 0;
}
.login-form .submit-btn{
    margin: 10px 10px 0 0;
}




@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 40px;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 40px;
    }
    .sidebar-nav {
        width: 250px;
    }
    .sidebar-nav > .sidebar-title {
        visibility: visible;
        opacity: 1;
        transition: opacity .5s linear;
    }
    #wrapper.toggled .sidebar-nav  > .sidebar-title {
        visibility:hidden;
        opacity: 0;
        transition: visibility 0s .5s, opacity .5s linear;
    }

    #page-content-wrapper {

        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
    }
}